USE [master]
GO
/****** Object:  Database [sistemaviajes]    Script Date: 17/09/2024 01:09:07 ******/
CREATE DATABASE [sistemaviajes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sistemaviajes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sistemaviajes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sistemaviajes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sistemaviajes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sistemaviajes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sistemaviajes]
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPasajero] [int] NOT NULL,
	[IDServicio] [int] NOT NULL,
	[IDComprobante] [int] NOT NULL,
	[Precio] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[Placa] [char](6) NOT NULL,
	[IDModelo] [int] NOT NULL,
	[Lugar] [varchar](50) NOT NULL,
	[Disponible] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](200) NOT NULL,
	[Apellido] [varchar](50) NULL,
	[DNI] [char](8) NULL,
	[Ruc] [char](11) NULL,
	[Correo] [varchar](200) NOT NULL,
	[Celular] [int] NOT NULL,
	[nacimiento] [date] NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Precio_total] [real] NOT NULL,
	[Costo_igv] [real] NOT NULL,
	[Precio] [real] NOT NULL,
	[TipoComprobante] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cronograma_viajes]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cronograma_viajes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [char](6) NOT NULL,
	[IDRuta] [int] NOT NULL,
	[Fecha_salida] [datetime] NOT NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCargo] [int] NULL,
	[Dni] [char](8) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Genero] [char](1) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Distrito] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Terminal] [varchar](50) NOT NULL,
	[Departamento] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModeloBus]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModeloBus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Modelo] [char](10) NOT NULL,
	[Asientos] [int] NOT NULL,
	[Tamanio] [varchar](50) NOT NULL,
	[pisos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pasajero]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pasajero](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservaciones]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCronograma] [int] NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Fecha_limite] [datetime] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha_recerva] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruta]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDOrigen] [int] NOT NULL,
	[IDDestino] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Demora] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCronograma] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[Precio_piso1] [real] NOT NULL,
	[Precio_piso2] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLAGENERAL]    Script Date: 17/09/2024 01:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLAGENERAL](
	[CODIGOTABLA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRETABLA] [varchar](100) NULL,
	[VALOR] [varchar](20) NULL,
	[DESCRIPCION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGOTABLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOBK]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOBK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](200) NOT NULL,
	[Apellido] [varchar](50) NULL,
	[DNI] [char](8) NULL,
	[Ruc] [char](11) NULL,
	[Correo] [varchar](200) NOT NULL,
	[Celular] [int] NOT NULL,
	[nacimiento] [date] NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos_definidos]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos_definidos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Hora] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[IDEmpleado] [int] NOT NULL,
	[Contrasena] [varchar](50) NOT NULL,
	[Tipocuenta] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOXEMPLEADO]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOXEMPLEADO](
	[IDUSUXEMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[IDEMPLEADO] [int] NULL,
	[IDUSUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUXEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Buses] ([Placa], [IDModelo], [Lugar], [Disponible]) VALUES (N'GG1111', 1, N'Lima', CAST(N'2024-01-01T11:39:37.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([ID], [Nombre], [Descripcion]) VALUES (1, N'Administrador', N'Administrador')
INSERT [dbo].[Cargo] ([ID], [Nombre], [Descripcion]) VALUES (2, N'Gerente general', N'Encargado general de la empresa')
INSERT [dbo].[Cargo] ([ID], [Nombre], [Descripcion]) VALUES (3, N'vendedor(a)', N'Venta de pasajes')
SET IDENTITY_INSERT [dbo].[Cargo] OFF
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID], [Nombres], [Apellido], [DNI], [Ruc], [Correo], [Celular], [nacimiento], [Tipo], [Direccion]) VALUES (1, N'GM INGENIEROS', NULL, NULL, N'20555841095', N'administracion@gmail.com', 953322760, NULL, N'E', N'av.brasil 863')
INSERT [dbo].[Cliente] ([ID], [Nombres], [Apellido], [DNI], [Ruc], [Correo], [Celular], [nacimiento], [Tipo], [Direccion]) VALUES (2, N'GEOCONSULT S.A', NULL, NULL, N'20444801951', N'info@geoconsult.pe', 953227609, NULL, N'E', N'AV.ARBOLES 123-SAN MIGUEL')
INSERT [dbo].[Cliente] ([ID], [Nombres], [Apellido], [DNI], [Ruc], [Correo], [Celular], [nacimiento], [Tipo], [Direccion]) VALUES (3, N'Jorge', N'Contreras', N'44222244', NULL, N'sistemasnet26@gmail.com', 991231114, CAST(N'2000-07-09' AS Date), N'P', NULL)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Cronograma_viajes] ON 

INSERT [dbo].[Cronograma_viajes] ([ID], [Placa], [IDRuta], [Fecha_salida], [IdUsuario]) VALUES (1, N'GG1111', 1, CAST(N'2024-07-07T08:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Cronograma_viajes] OFF
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([ID], [IDCargo], [Dni], [Nombres], [Apellidos], [Genero], [FechaNacimiento]) VALUES (1, 1, N'46631233', N'ivan', N'Atanacio', N'M', CAST(N'1990-09-26' AS Date))
INSERT [dbo].[Empleado] ([ID], [IDCargo], [Dni], [Nombres], [Apellidos], [Genero], [FechaNacimiento]) VALUES (4, 2, N'10682482', N'Max', N'Briceño', N'M', CAST(N'1950-11-23' AS Date))
INSERT [dbo].[Empleado] ([ID], [IDCargo], [Dni], [Nombres], [Apellidos], [Genero], [FechaNacimiento]) VALUES (1002, 3, N'47731267', N'Maria', N'Torres', N'F', CAST(N'1998-05-23' AS Date))
SET IDENTITY_INSERT [dbo].[Empleado] OFF
SET IDENTITY_INSERT [dbo].[Lugar] ON 

INSERT [dbo].[Lugar] ([ID], [Distrito], [Direccion], [Terminal], [Departamento], [Estado]) VALUES (1, N'Lince', N'Av.Republica 200  - Lince', N'Terminal Lince', N'Lima', N'Activo')
INSERT [dbo].[Lugar] ([ID], [Distrito], [Direccion], [Terminal], [Departamento], [Estado]) VALUES (2, N'mollendo', N'Av.Insurgente 100', N'Terminal Mollendo', N'Arequipa', N'Activo')
SET IDENTITY_INSERT [dbo].[Lugar] OFF
SET IDENTITY_INSERT [dbo].[ModeloBus] ON 

INSERT [dbo].[ModeloBus] ([ID], [Modelo], [Asientos], [Tamanio], [pisos]) VALUES (1, N'Lambo     ', 15, N'Grande', 2)
SET IDENTITY_INSERT [dbo].[ModeloBus] OFF
SET IDENTITY_INSERT [dbo].[Ruta] ON 

INSERT [dbo].[Ruta] ([ID], [IDOrigen], [IDDestino], [Nombre], [Demora]) VALUES (1, 1, 2, N'Lima-Arequipa', CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Ruta] OFF
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([ID], [IDCronograma], [nombre], [Precio_piso1], [Precio_piso2]) VALUES (1, 1, N'Servicio Turistico', 70, 60)
SET IDENTITY_INSERT [dbo].[Servicio] OFF
SET IDENTITY_INSERT [dbo].[TABLAGENERAL] ON 

INSERT [dbo].[TABLAGENERAL] ([CODIGOTABLA], [NOMBRETABLA], [VALOR], [DESCRIPCION]) VALUES (1, N'GENEROPERSONA', N'N', N'TABLA DE GENERO DE PERSONA')
INSERT [dbo].[TABLAGENERAL] ([CODIGOTABLA], [NOMBRETABLA], [VALOR], [DESCRIPCION]) VALUES (2, N'GENEROPERSONA', N'M', N'MASCULINO')
INSERT [dbo].[TABLAGENERAL] ([CODIGOTABLA], [NOMBRETABLA], [VALOR], [DESCRIPCION]) VALUES (3, N'GENEROPERSONA', N'F', N'FEMENINO')
SET IDENTITY_INSERT [dbo].[TABLAGENERAL] OFF
SET IDENTITY_INSERT [dbo].[TIPOBK] ON 

INSERT [dbo].[TIPOBK] ([ID], [Nombres], [Apellido], [DNI], [Ruc], [Correo], [Celular], [nacimiento], [Tipo], [Direccion]) VALUES (1, N'GM INGENIEROS', NULL, NULL, N'20555841095', N'administracion@gmail.com', 953322760, NULL, N'Empresa', N'av.brasil 863')
INSERT [dbo].[TIPOBK] ([ID], [Nombres], [Apellido], [DNI], [Ruc], [Correo], [Celular], [nacimiento], [Tipo], [Direccion]) VALUES (2, N'GEOCONSULT S.A', NULL, NULL, N'20444801951', N'info@geoconsult.pe', 953227609, NULL, N'Empresa', N'AV.ARBOLES 123-SAN MIGUEL')
INSERT [dbo].[TIPOBK] ([ID], [Nombres], [Apellido], [DNI], [Ruc], [Correo], [Celular], [nacimiento], [Tipo], [Direccion]) VALUES (3, N'Jorge', N'Contreras', N'44222244', NULL, N'sistemasnet26@gmail.com', 991231114, CAST(N'2000-07-09' AS Date), N'Persona', NULL)
SET IDENTITY_INSERT [dbo].[TIPOBK] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [IDEmpleado], [Contrasena], [Tipocuenta]) VALUES (1, N'ivan26', 1, N'123456', N'AD')
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [IDEmpleado], [Contrasena], [Tipocuenta]) VALUES (2, N'mtorres', 1002, N'123456', N'VE')
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [IDEmpleado], [Contrasena], [Tipocuenta]) VALUES (3, N'cmartinez', 1003, N'123456', N'VE')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Index [UQ__Boletos__0F29CD033F63794A]    Script Date: 17/09/2024 01:09:08 ******/
ALTER TABLE [dbo].[Boletos] ADD UNIQUE NONCLUSTERED 
(
	[IDPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__C03085758CEB2B9F]    Script Date: 17/09/2024 01:09:08 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Servicio__F6AA9D8315559C13]    Script Date: 17/09/2024 01:09:08 ******/
ALTER TABLE [dbo].[Servicio] ADD UNIQUE NONCLUSTERED 
(
	[IDCronograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuario__50621DCC3BB3137E]    Script Date: 17/09/2024 01:09:08 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[IDEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FKBoletos402866] FOREIGN KEY([IDComprobante])
REFERENCES [dbo].[Comprobante] ([ID])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FKBoletos402866]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FKBoletos575112] FOREIGN KEY([IDPasajero])
REFERENCES [dbo].[pasajero] ([ID])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FKBoletos575112]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FKBoletos707533] FOREIGN KEY([IDServicio])
REFERENCES [dbo].[Servicio] ([ID])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FKBoletos707533]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [FKBuses525865] FOREIGN KEY([IDModelo])
REFERENCES [dbo].[ModeloBus] ([ID])
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [FKBuses525865]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FKComprobant709029] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([ID])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FKComprobant709029]
GO
ALTER TABLE [dbo].[Cronograma_viajes]  WITH CHECK ADD  CONSTRAINT [FK_usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Cronograma_viajes] CHECK CONSTRAINT [FK_usuario]
GO
ALTER TABLE [dbo].[Cronograma_viajes]  WITH CHECK ADD  CONSTRAINT [FKCronograma54920] FOREIGN KEY([Placa])
REFERENCES [dbo].[Buses] ([Placa])
GO
ALTER TABLE [dbo].[Cronograma_viajes] CHECK CONSTRAINT [FKCronograma54920]
GO
ALTER TABLE [dbo].[Cronograma_viajes]  WITH CHECK ADD  CONSTRAINT [FKCronograma852108] FOREIGN KEY([IDRuta])
REFERENCES [dbo].[Ruta] ([ID])
GO
ALTER TABLE [dbo].[Cronograma_viajes] CHECK CONSTRAINT [FKCronograma852108]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Cargo] FOREIGN KEY([IDCargo])
REFERENCES [dbo].[Cargo] ([ID])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Cargo]
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD  CONSTRAINT [FKRecervacio28818] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([ID])
GO
ALTER TABLE [dbo].[Reservaciones] CHECK CONSTRAINT [FKRecervacio28818]
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD  CONSTRAINT [FKRecervacio330165] FOREIGN KEY([IDCronograma])
REFERENCES [dbo].[Cronograma_viajes] ([ID])
GO
ALTER TABLE [dbo].[Reservaciones] CHECK CONSTRAINT [FKRecervacio330165]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FKRuta395954] FOREIGN KEY([IDOrigen])
REFERENCES [dbo].[Lugar] ([ID])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FKRuta395954]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FKRuta785889] FOREIGN KEY([IDDestino])
REFERENCES [dbo].[Lugar] ([ID])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FKRuta785889]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FKServicio502048] FOREIGN KEY([IDCronograma])
REFERENCES [dbo].[Cronograma_viajes] ([ID])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FKServicio502048]
GO
/****** Object:  StoredProcedure [dbo].[agregarboleto]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[agregarboleto]
@idcomprobante  int,
@idpasajero int,
@idservicio int,
@precio real
as begin
INSERT INTO Boletos(IDComprobante,IDPasajero,IDServicio,Precio )
VALUES (@idcomprobante, @idpasajero,@idservicio,@precio);
end
GO
/****** Object:  StoredProcedure [dbo].[AgregarBuss]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarBuss]
	@Placa char(6),
	@IdModelo int,
	@Lugar varchar(50),
	@Disponible datetime
AS
BEGIN
	INSERT INTO Buses(Placa, IDModelo, Lugar, Disponible)
	VALUES (@Placa,@IdModelo,@Lugar,@Disponible)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarCargo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarCargo]     
@Nombre VARCHAR(1000),     
@descripcion VARCHAR(255) 
AS 
BEGIN     
	INSERT INTO Cargo (Nombre, Descripcion)     VALUES (@nombre, @descripcion); 
END
GO
/****** Object:  StoredProcedure [dbo].[agregarcomprovante]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[agregarcomprovante]
@idcliente  int,
@fecha datetime,
@precio real,
@preciot real,
@igv real,
@tipo varchar(50)
as begin
DECLARE @IDsInsertadas TABLE (ID INT);
INSERT INTO Comprobante(IDCliente,Fecha,Precio,Precio_total,Costo_igv,TipoComprobante )
OUTPUT INSERTED.ID INTO @IDsInsertadas
VALUES (@idcliente, @fecha,@precio,@preciot,@igv,@tipo);
SELECT ID FROM @IDsInsertadas;
end
GO
/****** Object:  StoredProcedure [dbo].[Agregarcronograma]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Agregarcronograma]
@idruta int,
@usuario varchar(50),
@placa char(6),
@fecha datetime,
@nombre varchar(50),
@precio1 real,
@precio2 real

as begin
declare @Idcronograma int;
INSERT INTO Cronograma_viajes(IDRuta, Placa, Fecha_salida,IDusuario) 
    VALUES (@idruta, @placa, @fecha,@usuario);

    SET @Idcronograma = SCOPE_IDENTITY();

    INSERT INTO Servicio(IDCronograma, nombre, Precio_piso1, Precio_piso2) 
    VALUES (@Idcronograma,@nombre, @precio1, @precio2);

end
GO
/****** Object:  StoredProcedure [dbo].[AgregarLugar]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarLugar]
    @Distrito VARCHAR(50),
    @Direccion VARCHAR(100),
    @Terminal VARCHAR(50),
    @Departamento VARCHAR(50),
    @Estado VARCHAR(50)
AS
BEGIN
    INSERT INTO Lugar (Distrito, Direccion, Terminal, Departamento, Estado)
    VALUES (@Distrito, @Direccion, @Terminal, @Departamento, @Estado)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarModelo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarModelo]
    @Nombre char(10),
    @Tamanio VARCHAR(50),
    @Asientos INT,
	@pisos INT
AS
BEGIN
    INSERT INTO ModeloBus (Modelo, TAMAnio, Asientos, pisos)
    VALUES (@Nombre, @Tamanio, @Asientos, @pisos);
END;
GO
/****** Object:  StoredProcedure [dbo].[agregarpasajero]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[agregarpasajero]
@nombre varchar(50),
@apellido varchar(50)
as begin
DECLARE @IDsInsertadas TABLE (ID INT);
INSERT INTO pasajero(Nombres,Apellidos)
OUTPUT INSERTED.ID INTO @IDsInsertadas
VALUES (@nombre, @apellido);
SELECT ID FROM @IDsInsertadas;
end
GO
/****** Object:  StoredProcedure [dbo].[AgregarRuta]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarRuta]
    @IDOrigen INT,
    @IDDestino INT,
    @NombreRuta VARCHAR(50),
    @Demora TIME
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Lugar WHERE ID = @IDOrigen) AND EXISTS (SELECT 1 FROM Lugar WHERE ID = @IDDestino)
    BEGIN
        INSERT INTO Ruta (IDOrigen, IDDestino, Nombre, Demora)
        VALUES (@IDOrigen, @IDDestino, @NombreRuta, @Demora);
    END
    ELSE
    BEGIN
        THROW 51000, 'Uno o ambos lugares especificados no existen. No se pudo agregar la ruta.', 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarCargo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarCargo]
    @ID INT = NULL,
    @Nombre VARCHAR(100) = NULL,
    @descripcion VARCHAR(255) = NULL
AS
BEGIN
    SELECT ID, Nombre, Descripcion
    FROM Cargo
    WHERE (@ID IS NULL OR ID = @ID)
        AND (@Nombre IS NULL OR Nombre LIKE '%'
 + @nombre + '%')
        AND (@descripcion IS NULL OR Descripcion LIKE '%' + @descripcion + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarClientePorDistrito]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarClientePorDistrito] (
    @DistritoBusqueda varchar(50)
)
AS
BEGIN
    SELECT 
        C.Nombres AS NombreCliente,
        C.Apellido AS ApellidoCliente,
        C.Celular AS CelularCliente,
        L.Distrito AS DistritoViaje,
        L.Departamento AS DepartamentoViaje
    FROM 
        Cliente C
    INNER JOIN Recervaciones R ON C.ID = R.IDCliente
    INNER JOIN Cronograma_viajes CV ON R.IDCronograma = CV.ID
    INNER JOIN Ruta RUTA ON CV.IDRuta = RUTA.ID
    INNER JOIN Lugar L ON RUTA.IDDestino = L.ID
    WHERE L.Distrito = @DistritoBusqueda;
END;
GO
/****** Object:  StoredProcedure [dbo].[buscarEmpleado]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[buscarEmpleado]
    @filtro varchar(50),
	@nombre varchar(50)
AS
BEGIN
if @filtro = 'Cargo'
   Select e.ID,e.Nombres,e.Apellido,e.Dni,c.Cargo from Empleado as e  inner join Cargo as c on e.IDCargo = c.ID where c.Cargo LIKe '%' + @nombre + '%';
else if @filtro = 'Nombres'
   Select e.ID,e.Nombres,e.Apellido,e.Dni,c.Cargo from Empleado as e  inner join Cargo as c on e.IDCargo = c.ID where e.Nombres LIKe '%' + @nombre + '%';
else if @filtro = 'Dni'
   Select e.ID,e.Nombres,e.Apellido,e.Dni,c.Cargo from Empleado as e  inner join Cargo as c on e.IDCargo = c.ID where e.Dni LIKe '%' + @nombre + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarLugar]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarLugar]
    @ID INT = NULL,
    @Distrito VARCHAR(50) = NULL,
    @Departamento VARCHAR(50) = NULL
AS
BEGIN
    SELECT *
    FROM Lugar
    WHERE (@ID IS NULL OR ID = @ID)
      AND (@Distrito IS NULL OR Distrito = @Distrito)
      AND (@Departamento IS NULL OR Departamento = @Departamento)
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarModelo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarModelo]
    @ID INT = NULL,
    @Nombre VARCHAR(50) = NULL,
    @Tamanio VARCHAR(50) = NULL,
    @Asientos INT = NULL
AS
BEGIN
    SELECT *
    FROM ModeloBus
    WHERE
        (@ID IS NULL OR ID = @ID) AND
        (@Nombre IS NULL OR Modelo = @Nombre) AND
        (@Tamanio IS NULL OR Tamanio = @Tamanio) AND
        (@Asientos IS NULL OR Asientos = @Asientos);
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarRuta]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarRuta]
    @ID INT = NULL,
    @NombreRuta VARCHAR(50) = NULL
AS
BEGIN
    SELECT R.ID, R.Nombre, L1.Distrito AS Origen, L2.Distrito AS Destino, R.Demora
    FROM Ruta R
    INNER JOIN Lugar L1 ON R.IDOrigen = L1.ID
    INNER JOIN Lugar L2 ON R.IDDestino = L2.ID
    WHERE (@ID IS NULL OR R.ID = @ID)
      AND (@NombreRuta IS NULL OR R.Nombre LIKE '%' + @NombreRuta + '%');
END

GO
/****** Object:  StoredProcedure [dbo].[EditaCargo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditaCargo]
    @ID INT,
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(255)
AS
BEGIN
    UPDATE Cargo
    SET Nombre = @Nombre,
        Descripcion = @Descripcion
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[EditarBuss]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarBuss]
	@Placa char(6),
	@IdModelo int,
	@Lugar varchar(50),
	@Disponible datetime
AS
Begin 
	UPDATE Buses
    SET IDModelo = @IdModelo,
        Lugar = @Lugar,
		Disponible=@Disponible
    WHERE Placa = @Placa;
END
GO
/****** Object:  StoredProcedure [dbo].[editarCliente]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[editarCliente] 
@id int,
@nombre varchar(200),
@dni char(8) = null,
@correo Varchar(200),
@celular int,
@tipo varchar(50),
@Apellido varchar(50) = null,
@nacimiento date = null,
@ruc char(11)=null,
@direccion varchar(100)=null 
as begin
if @tipo = 'Persona'
		update Cliente set Nombres = @nombre, DNI=@dni, Correo = @correo,Celular = @celular ,Apellido= @Apellido,nacimiento = @nacimiento where ID = @id;
else if @tipo = 'Empresa'
		update Cliente set Nombres = @nombre, Ruc=@ruc, Correo = @correo,Celular = @celular ,Direccion= @direccion where ID = @id;
end;

GO
/****** Object:  StoredProcedure [dbo].[editarEmpleado]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarEmpleado]  
@idempleado int,     
@nombre VARCHAR(100),     
@apellido VARCHAR(100),     
@Dni char(8),     
@nacimiento date,     
@sexo char(1),  
@idcargo int,  
@nombreusuario varchar(50),  
@contrasena varchar(50),  
@tipo varchar(50) 
AS 
BEGIN 
	update  Empleado     
		set Nombres = @nombre, Apellido=@apellido, Nacimiento=@nacimiento,
		SexoEmpl=@sexo,
		Dni=@Dni,
		IDCargo=@idcargo 
		where ID=@idempleado; 

	update 
		Usuario 
		set Nombreusuario= @nombreusuario, 
		Contrasena=@contrasena, 
		Tipocuenta=@tipo 
		where IDEmpleado=@idempleado; 

end
GO
/****** Object:  StoredProcedure [dbo].[EditarLugar]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarLugar]
    @ID INT,
    @Distrito VARCHAR(50),
    @Direccion VARCHAR(100),
    @Terminal VARCHAR(50),
    @Departamento VARCHAR(50),
    @Estado VARCHAR(50)
AS
BEGIN
    UPDATE Lugar
    SET Distrito = @Distrito,
        Direccion = @Direccion,
        Terminal = @Terminal,
        Departamento = @Departamento,
        Estado = @Estado
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[EditarModelo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarModelo]
    @ID INT,
    @Nombre char(10),
    @Tamanio VARCHAR(50),
    @Asientos INT,
	@pisos INT
AS
BEGIN
    UPDATE ModeloBus
    SET
        Modelo = @Nombre,
        tamanio = @Tamanio,
        Asientos = @Asientos,
		pisos = @pisos
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EditarRuta]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarRuta]
@RutaID INT,
@IDOrigen INT,
@IDDestino INT,
@NombreRuta VARCHAR(50),
@Demora TIME
AS
BEGIN
    UPDATE Ruta
    SET IDOrigen = @IDOrigen,
        IDDestino = @IDDestino,
        Nombre = @NombreRuta,
        Demora = @Demora
    WHERE ID = @RutaID;
END

GO
/****** Object:  StoredProcedure [dbo].[EliminarCargo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCargo]
    @ID INT
AS
BEGIN
    DELETE FROM Cargo
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarEmpleado]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[eliminarEmpleado] @id int  as
begin
delete from Usuario where IDEmpleado = @id;
delete from Empleado where ID = @id;
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarLugar]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarLugar]
    @ID INT
AS
BEGIN
    DELETE FROM Lugar
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarModelo]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarModelo]
    @ID INT
AS
BEGIN
    DELETE FROM ModeloBus
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarRutaPorID]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRutaPorID]
@RutaID INT
AS
BEGIN
    DELETE FROM Ruta
    WHERE ID = @RutaID;
END

GO
/****** Object:  StoredProcedure [dbo].[guardarEmpleado]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[guardarEmpleado]
    @Nombres VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Dni char(8),
    @FechaNacimiento date,
    @Genero char(1),
	@IdCargo int,
	@Nombreusuario varchar(50),
	@Contrasena varchar(50),
	@Tipo varchar(50)
AS
BEGIN
Begin try
    BEGIN TRANSACTION;

    DECLARE @Idempleado INT;

    INSERT INTO Empleado (IDCargo, Dni, Nombres,  Apellidos, Genero, FechaNacimiento) 
    VALUES (@idcargo, @Dni, @nombres, @apellidos, @Genero, @FechaNacimiento);
	
	--OBTIENE EL ID RECIEN INGRESADO DE LA INSTRUCCION ANTERIOR
    SET @Idempleado = SCOPE_IDENTITY();
	--select * from Usuario
	--- insertar a la tabla usuario usando el codigo de empleado un registro de usuario
    INSERT INTO Usuario (nombreusuario, Contrasena, Tipocuenta, IDEmpleado) 
    VALUES (@nombreusuario ,@contrasena  , @tipo,  @Idempleado  );

    COMMIT TRANSACTION;
End try
Begin Catch
	rollback transaction 
	declare @ERRORMENSAJE nvarchar(250) = ERROR_MESSAGE()
	RAISERROR(@ERRORMENSAJE, 16,1)

End Catch


END
GO
/****** Object:  StoredProcedure [dbo].[guardarEmpresa]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[guardarEmpresa]
@nombre varchar(200),
@ruc char(11),
@correo Varchar(200),
@celular int,
@tipo varchar(50),
@direccion varchar(100) = null
as begin
insert into Cliente (Nombres, Ruc, Correo,Celular,Direccion,Tipo) 
Values (@nombre,@ruc,@correo,@celular,@direccion,@tipo)
end
GO
/****** Object:  StoredProcedure [dbo].[guardarPersona]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[guardarPersona] 
@nombre varchar(200),
@dni char(8),
@correo Varchar(200),
@celular int,
@tipo varchar(50),
@Apellido varchar(50),
@nacimiento date = null
as begin
insert into Cliente (Nombres,Apellido, DNI, Correo,Celular,Tipo,nacimiento) 
Values (@nombre,@Apellido,@dni,@correo,@celular,@tipo, isnull(@nacimiento,null))
end

GO
/****** Object:  StoredProcedure [dbo].[listarEmpleadoId]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[listarEmpleadoId]
@id int
as begin
select 
		e.Apellidos, e.Nombres, 
		e.Dni, 
		e.Genero, 
		e.FechaNacimiento , 
		E.ID,
		--Clase usuario
		u.Contrasena, u.NombreUsuario, 
		u.Tipocuenta ,
		--Clase Cargo
		c.ID as IdCargo,
		c.Nombre as NombreCargo 
				
		from Empleado as e 
			inner join Usuario as u 
				on u.IDEmpleado = e.ID 
			inner join Cargo as c 
				on c.ID = e.IDCargo 
				where  (@id= '' or  e.ID = @id )
			order by e.ID;
end
GO
/****** Object:  StoredProcedure [dbo].[MostrarBuses]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MostrarBuses]
AS
BEGIN
	select * from Buses
END
GO
/****** Object:  StoredProcedure [dbo].[MostrarCliente]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarCliente]
AS
BEGIN
    SELECT
        C.Nombres AS NombreCliente,
        C.Apellido AS ApellidoCliente,
        C.Celular AS CelularCliente,
        L.Distrito AS DistritoViaje,
        L.Departamento AS DepartamentoViaje
    FROM
        Cliente C
    INNER JOIN Recervaciones R ON C.ID = R.IDCliente
    INNER JOIN Cronograma_viajes CV ON R.IDCronograma = CV.ID
    INNER JOIN Ruta RUTA ON CV.IDRuta = RUTA.ID
    INNER JOIN Lugar L ON RUTA.IDDestino = L.ID
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarClienteEmpresa]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarClienteEmpresa]
AS
BEGIN
   select ID,Nombres,Ruc,Correo from Cliente where Tipo = 'Empresa'
END;

GO
/****** Object:  StoredProcedure [dbo].[MostrarClientePersona]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarClientePersona]
AS
BEGIN
   select ID,Nombres,Apellido,DNI from Cliente where Tipo = 'Persona'
END;

GO
/****** Object:  StoredProcedure [dbo].[MostrarCronograma]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MostrarCronograma]	
as begin 
select c.ID,r.Nombre as Ruta,l1.Departamento as Origen,l2.Departamento as Destino,c.Placa,s.nombre as Servicio,s.Precio_piso1,s.Precio_piso2,c.Fecha_salida from 
Cronograma_viajes as c 
inner join ruta as r on c.IDRuta = r.ID 
inner join Lugar as l1 on r.IDOrigen = l1.ID 
inner join Lugar as l2 on r.IDDestino = l2.ID
inner join Buses as b on c.Placa = b.Placa
inner join Servicio as s on s.IDCronograma = c.ID where c.Fecha_salida >= GETDATE()
end
GO
/****** Object:  StoredProcedure [dbo].[MostrarRutas]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarRutas]
AS
BEGIN
    SELECT R.ID, R.Nombre, L1.Distrito AS Origen, L2.Distrito AS Destino, R.Demora
    FROM Ruta R
    INNER JOIN Lugar L1 ON R.IDOrigen = L1.ID
    INNER JOIN Lugar L2 ON R.IDDestino = L2.ID;
END

GO
/****** Object:  StoredProcedure [dbo].[MostrarTodosLosLugares]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarTodosLosLugares]
AS
BEGIN
    SELECT *
    FROM Lugar
END
GO
/****** Object:  StoredProcedure [dbo].[MostrarTodosLosModelos]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarTodosLosModelos]
AS
BEGIN
    SELECT *
    FROM ModeloBus;
END;

GO
/****** Object:  StoredProcedure [dbo].[Spu_svb_del_empleado]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Spu_svb_del_empleado] 
@id int  
as
begin
	begin try
		begin transaction
		delete from Usuario where IDEmpleado = @id;
		delete from Empleado where ID = @id;
		commit transaction
	end try
	begin catch
		rollback transaction
		declare @mensajeerror varchar(200) = error_message()
		raiserror(@mensajeerror, 16,1)
	end catch
end

GO
/****** Object:  StoredProcedure [dbo].[SPU_SVB_DEL_USUXEMPLEADO]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPU_SVB_DEL_USUXEMPLEADO]
@IDUSUXEMPLEADO INT
AS
BEGIN TRY
	BEGIN TRANSACTION
		--INSERT INTO USUARIOXEMPLEADO VALUES(@IDEMPLEADO, @IDUSUARIO)
				
		DELETE FROM USUARIOXEMPLEADO 
		WHERE IDUSUXEMPLEADO = @IDUSUXEMPLEADO
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
	declare @ERRORMENSAJE nvarchar(250) = ERROR_MESSAGE()
	RAISERROR(@ERRORMENSAJE, 16,1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[Spu_SVB_Ins_Empleado]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Spu_SVB_Ins_Empleado]
    @Nombres VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Dni char(8),
    @FechaNacimiento date,
    @Genero char(1),
	@IdCargo int,
	@Nombreusuario varchar(50),
	@Contrasena varchar(50),
	@Tipo varchar(50)
AS
BEGIN
Begin try
    BEGIN TRANSACTION;

    DECLARE @Idempleado INT;

    INSERT INTO Empleado (IDCargo, Dni, Nombres,  Apellidos, Genero, FechaNacimiento) 
    VALUES (@idcargo, @Dni, @nombres, @apellidos, @Genero, @FechaNacimiento);
	
	--OBTIENE EL ID RECIEN INGRESADO DE LA INSTRUCCION ANTERIOR
    SET @Idempleado = SCOPE_IDENTITY();
	--select * from Usuario
	--- insertar a la tabla usuario usando el codigo de empleado un registro de usuario
    INSERT INTO Usuario (nombreusuario, IDEmpleado, Contrasena, Tipocuenta ) 
    VALUES (@nombreusuario ,@Idempleado  ,@contrasena  , @tipo);
	
    COMMIT TRANSACTION;
End try
Begin Catch
	rollback transaction ;
	declare @ERRORMENSAJE nvarchar(250) = ERROR_MESSAGE()
	RAISERROR(@ERRORMENSAJE, 16,1)

End Catch


END
GO
/****** Object:  StoredProcedure [dbo].[SPU_SVB_INS_USUXEMPLEADO]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPU_SVB_INS_USUXEMPLEADO]
@IDEMPLEADO INT,
@IDUSUARIO INT
AS
BEGIN TRY
	BEGIN TRANSACTION
		INSERT INTO USUARIOXEMPLEADO VALUES(@IDEMPLEADO, @IDUSUARIO)
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
	declare @ERRORMENSAJE nvarchar(250) = ERROR_MESSAGE()
	RAISERROR(@ERRORMENSAJE, 16,1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SPU_SVB_TRAE_EMPLEADO]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPU_SVB_TRAE_EMPLEADO]
--tipo de busqueda
@TIPO char(3),
@VALOR VARCHAR(200) 
--@id int
as begin


declare @tblfiltro as table (
	idempleado int,
	apellidos varchar(100),
	nombres varchar(100),
	dni char(8),
	Genero char(1),
	FechaNacimiento date,
	nombreusuario varchar(50),
	contrasena varchar(50),	
	tipocuenta varchar(50),
	nombretipocuenta varchar(200),
	idcargo int,
	nombrecargo varchar(100)
)
insert into @tblfiltro
select 
		E.ID as IdEmpleado,
		e.Apellidos, e.Nombres, 
		e.Dni, 
		e.Genero, 
		e.FechaNacimiento , 

		
		--Clase usuario
		u.NombreUsuario, 
		u.Contrasena, 
		u.Tipocuenta , -- > valor de codigo tipo cuenta
		tg.DESCRIPCION, -- descripcion del tipo de cuenta
		--Clase Cargo
		c.ID as IdCargo,
		c.Nombre as NombreCargo 				
		from Empleado as e 
			left join Usuario as u 
				on u.IDEmpleado = e.ID 
			inner join Cargo as c  on c.ID = e.IDCargo 
	left join TABLAGENERAL tg 
		on tg.VALOR = u.Tipocuenta
		and tg.NOMBRETABLA = 'perfilusuario'
		and tg.VALOR!='N'
			order by e.ID;

			
if @TIPO = ''
begin
	select * from @tblfiltro
end
--numero documento
else if @TIPO = 'FND'
begin
	select * from @tblfiltro where dni LIKE  @valor + '%'
End
else if @TIPO = 'FNA'
BEGIN
	SELECT * FROM @tblfiltro WHERE nombres +  ' ' + apellidos  LIKE '%'+ @VALOR  +'%'
end

ELSE IF @TIPO = 'FNC'
BEGIN
SELECT * FROM @tblfiltro WHERE nombrecargo  LIKE '%' + @VALOR +  '%'
END

END
GO
/****** Object:  StoredProcedure [dbo].[Spu_svb_Trae_TablaGeneral]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Spu_svb_Trae_TablaGeneral]
@nombretabla varchar(100),
@valor varchar(20)
as
begin

	if @nombretabla = ''
	Begin
		select * from TABLAGENERAL
	end
	else
		Begin
			if @valor = ''
				Begin
				select * 
						from TABLAGENERAL 
						where NOMBRETABLA = @nombretabla
						AND VALOR != 'N'
				end
				else
				Begin
				select * 
						from TABLAGENERAL 
						where NOMBRETABLA = @nombretabla
						AND VALOR != 'N' and valor = @valor
				End
		End
	
		
end

GO
/****** Object:  StoredProcedure [dbo].[spu_svb_Upd_Empleado]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spu_svb_Upd_Empleado]    
@idempleado int,       
@nombres VARCHAR(100),       
@apellidos VARCHAR(100),       
@Dni char(8),       
@fechanacimiento date,       
@genero  char(1),    
@idcargo int,    
@nombreusuario varchar(50),    
@contrasena varchar(50),    
@tipocuenta varchar(50)   
AS   
BEGIN   
begin try  
 begin transaction  
 update  Empleado       
  set Nombres = @nombres, Apellidos=@apellidos, FechaNacimiento=@fechanacimiento,  
  Genero=@genero,  
  Dni=@Dni,  
  IDCargo=@idcargo   
  where ID=@idempleado;   
    
	--validar cuenta, si existe actualiza caso contrario registrar nuevo usuario
	declare @existeUsuario as int 
	select  @existeUsuario = count(nombreusuario) from Empleado e inner join Usuario u 
	on e.ID = u.IDEmpleado
	where e.ID = @idempleado

	if @existeUsuario = 0 
	begin
		
		insert into Usuario values(@nombreusuario, @idempleado , @contrasena, @tipocuenta)
	end
	else
	begin	
		update Usuario   
		set Nombreusuario= @nombreusuario,   
		Contrasena=@contrasena,   
		Tipocuenta=@tipocuenta   
		where IDEmpleado=@idempleado;   
	end
	--select * from Empleado
 
 
  commit transaction  
  end try  
  begin catch  
   rollback transaction  
   declare @mensajeerror varchar(200) = ERROR_MESSAGE()  
   raiserror(@mensajeerror, 16,1)  
  end catch  
    
  
end  
GO
/****** Object:  StoredProcedure [dbo].[SPU_SVB_UPD_USUXEMPLEADO]    Script Date: 17/09/2024 01:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPU_SVB_UPD_USUXEMPLEADO]
@IDUSUXEMPLEADO INT,
@IDEMPLEADO INT,
@IDUSUARIO INT
AS
BEGIN TRY
	BEGIN TRANSACTION
		--INSERT INTO USUARIOXEMPLEADO VALUES(@IDEMPLEADO, @IDUSUARIO)
		UPDATE USUARIOXEMPLEADO 
		SET IDEMPLEADO= @IDEMPLEADO,IDUSUARIO = @IDUSUARIO
		WHERE IDUSUXEMPLEADO = @IDUSUXEMPLEADO

	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
	declare @ERRORMENSAJE nvarchar(250) = ERROR_MESSAGE()
	RAISERROR(@ERRORMENSAJE, 16,1)
END CATCH
GO
USE [master]
GO
