<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Objetos.Properties.Settings.sistemaviajesConnectionString"
            connectionString="Data Source=.;Initial Catalog=sistemaviajes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>